.main-card{
    width: 100%;
    height: 100vh;
    display: flex;
    /* background-color: black; */
}
.imgNav{
    width:100px;
    height: 50px;
    object-fit: contain;
}
.cards{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s;
}
.colorHEX{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: whitesmoke;
}
.renderBtn{
    position: absolute;
    top: 15%;
    left:42.5%;
    text-transform: uppercase;
    z-index: 4;
    width: 15%;
}
.renderBtn2{
    display: none;
}

@media screen and (max-width:425px) {
    .main-card{
        flex-direction: column;
    }
    .renderBtn2{
        display: block;
    }
    .renderBtn{
        display: none;
    }
}